<div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
		<h2 class='center'>Trump 's Nuts</h2>
		<h3 class='center'>Make Snacktime Great Again!</h3>

		<p class='center'>Grab Some Nuts Today</p>
	
		<!--Progress Bar-->
		<div class="col xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<progress-bar></progress-bar>

		</div>

		{{vm.model}}

		<contact-info name='vm.model.name' email='vm.model.email'>	
		</contact-info>

		<shipping-info address='vm.model.shipping.address' requirnments='vm.model.shipping.requirnments'>
		</shipping-info>

		<billing-info address='vm.model.billing' payment='vm.model.payment'>
		</billing-info>

		<purchase-btn submit-form='vm.submitForm'>
		</purchase-btn>



	</div>
	
</div>