<div>
	<!--Header-->
	<h3 class="center">Billing</h3>

	<label for="sameAsBillingCheck">
		<input 	type="checkbox" 
				id='sameAsBillingCheck' 
				ng-model='vm.copyShippingAddress'
				ng-click='vm.toggleAddressCopy(vm.copyShippingAddress)'> Same as billing?
	</label>

	<zip-code zip='vm.address.zip'></zip-code>

	<city city-name='vm.address.city'></city>

	<state state-id='vm.address.state'></state>

	<street street-address='vm.address.street1'></street>

	<street street-address='vm.address.street2'></street>

	<street street-address='vm.address.street3'></street>

	<cc-capture></cc-capture>
</div>