<div>
		
	<label>Card Number</label>
	  <div ng-model='vm.data.card.card_number' id="sq-card-number"></div>
	<label>CVV</label>
	  <div ng-model='vm.data.card.cvv' id="sq-cvv"></div>
	<label>Expiration Date</label>
	  <div ng-model='vm.data.card.expiration_date' id="sq-expiration-date"></div>
	<label>Postal Code</label>
	  <div ng-model="vm.data.card.postal_code" id="sq-postal-code"></div>
	  
	<div>
		<h3>Total: {{(vm.productCosts + vm.shippingCosts ) / 100 | currency:"$":2}} </h3>
	</div>

	  <form novalidate id="payment-form" ng-hide="isPaymentSuccess">

	    <!--
	      Whenever a nonce is generated, it's assigned as the value of this hidden
	      input field.
	    -->
	    <input type="hidden" id="card-nonce" name="nonce">

	    <!--
	      Clicking this Submit button kicks off the process to generate a card nonce
	      from the buyer's card information.
	    -->
	    <input 	ng-click="vm.submitForm()" 
	    		ng-disabled="vm.isProcessing" 
	    		type="submit" 
	    		id="submit" 
	    		value="PURCHASE NOW" 
	    		class='btn btn-success col-xs-12 col-sm-12 col-md-12 col-lg-12' 
	    		>
	  </form>

</div>