body {
	background-color: tan;
}

.center {
	text-align: center
}

.cozyInputs-left {
	padding-left: 0px;
}

.cozyInputs-right {
	padding-right: 0px;
}

.cozyInputs-center {
	padding-left: 0px;
	padding-right: 0px;
}